#this is the example for .env file you need to provide your own api keys
DATABASE_URL=postgresql://postgres:yourusername@localhost:5432/rag_db
GROQ_API_KEY=
HF_API_KEY=
GROQ_MODEL=openai/gpt-oss-20b
HF_MODEL=TokenRhythm/NeoHorse-1-4B
